{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}

<div class = "container my-3">

    {% if messages %}
    <div class = "alert alert-danger my-3" role = "alert">
        {% for message in messages %}
            <strong>{{ message.tags }}</strong>
            <ul><li>{{ message.message }}</li></ul>
        {% endfor %}
    </div>
    {% endif %}

    <h2 class = "border-bottom py-2">{{ question.subject }}</h2> <!--border-bottom py-2 : Bootstrap 적용. border bottom에 padding y축 2px 적용-->
    <div class = "card my-3"> <!--card형. 박스를 쳐주는 스타일-->
        <div class = "card-body">
            <div class = "card-text" style = "white-space:pre-line;">{{ question.content|mark }}</div>
            <div class = "d-flex justify-content-end"> <!--라인의 끝쪽 아래 쪽에 날짜 표시-->
                {% if question.modify_date %}
                <div class = "badge badge-light p-2 text-left mx-3">
                    <div class = "mb-2">modified at</div>
                    <div>{{ question.modify_date }}</div>
                </div>
                {% endif %}

                <div class = "badge badge-light p-2 text-left"> <!--스타일의 색상. 패딩 동서남북 2px-->
                    <div class = "mb-2">{{ question.author.username }}</div>
                    <div>{{ question.create_date }}</div>
                </div>
            </div>
                {% if request.user == question.author %}
                    <div class = "my-3">
                        <a href = "{% url 'pybo:question_modify' question.id %}"
                           class = "btn btn-sm btn-outline-secondary">수정</a>
                        <a href = "#"
                           class = "delete btn btn-sm btn-outline-secondary"
                            data-uri = "{% url 'pybo:question_delete' question.id %}">삭제</a> <!--정말로 삭제하겠냐는 확인창을 띄움-->
                    </div>
                {% endif %}
        </div>
    </div>

    <h5 class = "border-bottom my-3 py-2">{{question.answer_set.count}}개의 답변이 있습니다.</h5><!--줄이 생겼다-->
    {% for answer in question.answer_set.all %}
        <div class = "card my-3">
            <div class = "card-body">
                <div class = "card-text" style = "white-space:pre-line;">{{answer.content|mark}}</div>
                {% if request.user == answer.author%}
                <div class = "my-3">
                    <a href = "{% url 'pybo:answer_modify' answer.id %}"
                       class = "btn btn-sm btn-outline-secondary">수정</a>
                    <a href = "#"
                       class = "delete btn btn-sm btn-outline-secondary"
                       data-uri = "{% url 'pybo:answer_delete' answer.id %}">삭제</a>
                </div>
                {% endif %}
                <div class = "d-flex justify-content-end"> <!--라인의 끝쪽 아래 쪽에 날짜 표시-->
                    {% if answer.modify_date %}
                    <div class = "badge badge-light p-2 text-left mx-3">
                        <div class = "mb-2">modified at</div>
                        <div>{{ answer.modify_date }}</div>
                    </div>
                    {% endif %}

                    <div class = "badge badge-light p-2 text-left"> <!--스타일의 색상. 패딩 동서남북 2px-->
                        <div class = "mb-2">{{ answer.author.username }}</div>
                        <div>{{ answer.create_date }}</div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <form action = "{% url 'pybo:answer_create' question.id %}" method = "post" class = "my-3">
        {% csrf_token %} <!--보안-->
        {% if form.errors %}
            <div class = "alert alert-danger" role="alert">
                {% for field in form %} <!--폼객체에 있는 속성에 있는 내용들을 반복문을 통해 이 필드에 넘긴다-->
                    {% if field.errors %}
                    <strong>{{ field.label }}</strong> <!--bold체로 출력-->
                    {{ field.errors }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <div class = "form-group">
            <textarea {% if not user.is_authenticated %} disabled {% endif %}
                    name = "content" id = "content"
                      rows = "10" class = "form-control"></textarea>
        </div>
        <input type = "submit" value = "답변등록" class = "btn btn-primary">
    </form>
</div>
{% endblock %}

{% block script %}
<script type = "text/javascript">
    $(document).ready(function(){
        $(".delete").on('click', function(){
        if(confirm("정말로 삭제하시겠습니까?")){
            location.href = $(this).data('uri');
            }
        });
    });
</script>
{% endblock %}